<nav class="nav" [ngClass]="navListClass">
  <button
    class="nav__toggle"
    [ngClass]="navToggleClass"
    (click)="onNavBtnClick()"
  >
    <span class="nav__toggle-btn"></span>
  </button>
  <ul class="nav__list">
    <li
      class="nav__item nav__item--home"
      routerLinkActive="nav__item--active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a [routerLink]="['']">Home</a>
    </li>
    <li class="nav__item" routerLinkActive="nav__item--active">
      <a [routerLink]="['qrcode-demo', 'angularx-qrcode']">angularx-qrcode</a>
    </li>
    <li class="nav__item" routerLinkActive="nav__item--active">
      <a [routerLink]="['qrcode-demo', 'ng-qrcode']">ng-qrcode</a>
    </li>
    <li class="nav__item" routerLinkActive="nav__item--active">
      <a [routerLink]="['qrcode-demo', 'ngx-qrcode']">ngx-qrcode</a>
    </li>
  </ul>
</nav>
